body {
	margin: 0;
}

#team_page {
	width: 100%;
	height: 100%;
	ul {
		// Get rid of the default stylings
		list-style: none;
		padding: 0;
		margin: 0;
		// Put the people in order
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		flex-grow: 1;

		li {
			// Spacing
			padding: 10px;
			flex-grow: 1;
		}
	}
}
