body {
  color: red;
  margin: 0px;
  font-family: "Baskervville", serif;
}

@media screen and (max-width: 700px) {
  .bigSonly {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .smallSonly {
    display: none;
  }
}

.loader-wrapper {
  opacity: 1;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 2;
}

.loader-wrapper #loading-video {
  width: 100px;
  height: 100px;
  padding-right: 30px;
  margin-top: -65px;
  margin-left: -65px;
  position: fixed;
  top: 50%;
  left: 50%;
}

@media screen and (min-width: 700px) {
  .loader-wrapper #loading-video {
    width: 300px;
    height: 300px;
    padding-right: 90px;
    margin-top: -195px;
    margin-left: -195px;
  }
}

.fade {
  opacity: 0;
}

.top-left-exit {
  position: fixed !important;
  top: 10px !important;
  left: 4px !important;
  height: 50px !important;
  width: auto !important;
  margin: 0px !important;
  -webkit-transition: all 1s !important;
  transition: all 1s !important;
}

.into-middle {
  background-position-x: -50vw !important;
  -webkit-transition: all 2s;
  transition: all 2s;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid pink;
}

header .logo-cont {
  margin-left: 10px;
  margin-top: 10px;
}

header .logo-cont .logo {
  height: 50px;
}

header .menu-toggle {
  height: 32px;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  width: 40px;
  z-index: 1;
  margin-right: 20px;
}

@media screen and (min-width: 700px) {
  header .menu-toggle {
    display: none;
  }
}

header .menu-toggle i,
header .menu-toggle i:after,
header .menu-toggle i:before {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: peru;
  border-radius: 2px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  content: "";
}

header .menu-toggle i:after {
  top: -29px;
}

header .menu-toggle i:before {
  top: -14.5px;
}

header .menu-toggle i {
  top: 29px;
}

header .menu-toggle.open i {
  height: 0px;
}

header .menu-toggle.open i:after,
header .menu-toggle.open i:before {
  top: -22px;
}

header .menu-toggle.open i:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .menu-toggle.open i:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .links-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

@media screen and (max-width: 700px) {
  header .links-cont .nav {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  header .links-cont .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    margin: 0px;
    padding: 10px;
    /* Change color of dropdown links on hover */
    /* Show the dropdown menu on hover */
    /* Change the background color of the dropdown button when the dropdown content is shown */
  }
}

@media screen and (min-width: 700px) and (min-width: 1000px) {
  header .links-cont .nav {
    font-size: larger;
  }
}

@media screen and (min-width: 700px) {
  header .links-cont .nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 10px;
  }
  header .links-cont .nav .active-link {
    color: palevioletred;
  }
  header .links-cont .nav .sug-link {
    background: pink;
    color: blue;
    border-radius: 2px;
  }
  header .links-cont .nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
    border-radius: 5px;
  }
  header .links-cont .nav .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  header .links-cont .nav .dropdown-content a:hover {
    background-color: #ddd;
  }
  header .links-cont .nav .dropdown:hover .dropdown-content {
    display: block;
  }
  header .links-cont .nav .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
}

header .links-cont .mobile-links {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0px;
  padding-top: 60px;
  margin: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightpink;
  list-style: none;
}

header .links-cont .mobile-links li {
  padding-bottom: 20px;
}

header .links-cont .mobile-links a {
  text-decoration: none;
  color: white;
  font-size: large;
}

.content {
  width: 100%;
  height: 100vh;
  background-size: 200vw;
  background-image: url(assets/wave1-compressed.png), url(assets/wave2.png);
  background-repeat: no-repeat;
  background-position-x: 100vw, -200vw;
  background-position-y: -900px;
}

.content .writing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 300px 200px;
  color: white;
}

.content h1 {
  font-size: 4em;
}

.content h2 {
  margin-top: 20px;
}

@-webkit-keyframes gradient {
  0% {
    background-position-x: 0vw, -100vw;
  }
  100% {
    background-position-x: -100vw, 0vw;
  }
}

@keyframes gradient {
  0% {
    background-position-x: 0vw, -100vw;
  }
  100% {
    background-position-x: -100vw, 0vw;
  }
}
/*# sourceMappingURL=style.css.map */