body {
	color: red;
	margin: 0px;
}
.bigSonly {
	@media screen and (max-width: 700px) {
		display: none;
	}
}
.smallSonly {
	@media screen and (min-width: 700px) {
		display: none;
	}
}
// By default we have the hamburger menu
// With scss we can be very specific, based on only the class of the container we can change the underlying css
.loader-wrapper {
	opacity: 1;
	transition: opacity 3s;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 2;
	// display: flex;
	// justify-content: center;
	// align-items: center;
	#loading-video {
		// Set the width, height, padding and margin based on screen size.
		width: 100px;
		height: 100px;
		padding-right: 30px;
		// Margin is negative half of height
		margin-top: -65px;
		margin-left: -65px;

		@media screen and (min-width: 700px) {
			width: 300px;
			height: 300px;
			padding-right: 90px;
			margin-top: -195px;
			margin-left: -195px;
		}
		position: fixed;
		top: 50%;
		left: 50%;
		// Can't have padding transition smoothly
		// transition-property: top, left, height, width, transform, position;
		// transition-duration: 10s, 10s, 10s, 10s, 10s, 10s;
	}
}
// ANIMATIONS
.fade {
	opacity: 0;
}
.top-left-exit {
	position: fixed !important;
	top: 10px !important;
	left: 4px !important;
	height: 50px !important;
	width: auto !important;
	margin: 0px !important;
	transition: all 1s !important;
	// transform: rotate(360deg);
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 3px solid pink;

	.logo-cont {
		margin-left: 10px;
		margin-top: 10px;
		.logo {
			// aspect-ratio: 800/167;
			height: 50px;
		}
	}
	.menu-toggle {
		@media screen and (min-width: 700px) {
			display: none;
		}

		height: 32px;
		position: relative;
		transform: rotate(0deg);
		transition: 0.5s ease-in-out;
		cursor: pointer;
		width: 40px;
		// To be above the menu
		z-index: 1;
		margin-right: 20px;

		i,
		i:after,
		i:before {
			display: block;
			// Keep the bars inside the main block and positioned absolutely compared to the .menu-toggle - removed from flow of page
			position: absolute;
			height: 3px;
			width: 100%;
			background: peru;
			border-radius: 2px;
			transform: rotate(0deg);
			transition: 0.25s ease-in-out;
			content: "";
		}

		i:after {
			top: -29px;
		}
		i:before {
			top: -14.5px;
		}
		i {
			top: 29px;
		}
	}
	.menu-toggle.open {
		i {
			// Don't want the X underlined
			height: 0px;
		}
		i:after,
		i:before {
			// Move them to the middle
			top: -22px;
		}
		i:after {
			transform: rotate(45deg);
		}
		i:before {
			transform: rotate(-45deg);
		}
	}

	.links-cont {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-inline-start: 0px;

		.nav {
			// By default not showed on a small screen have mobile menu
			@media screen and (max-width: 700px) {
				display: none;
			}
			@media screen and (min-width: 700px) {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				list-style: none;
				margin: 0px;
				padding: 10px;

				@media screen and (min-width: 1000px) {
					font-size: larger;
					// a {
					// 	padding-right: 15px;
					// }
				}

				//Link styling
				a {
					text-decoration: none;
					font-weight: bold;
					color: black;
					padding: 10px;
				}
				.active-link {
					color: palevioletred;
				}
				.sug-link {
					background: pink;
					color: blue;
					border-radius: 2px;
				}

				//Dropdown styling
				.dropdown-content {
					display: none;
					position: absolute;
					background-color: white;
					min-width: 160px;
					box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
					z-index: 1;
					list-style: none;
					padding-inline-start: 0px;
				}
				.dropdown-content a {
					color: black;
					padding: 12px 16px;
					text-decoration: none;
					display: block;
				}
				/* Change color of dropdown links on hover */
				.dropdown-content a:hover {
					background-color: #ddd;
				}

				/* Show the dropdown menu on hover */
				.dropdown:hover .dropdown-content {
					display: block;
				}

				/* Change the background color of the dropdown button when the dropdown content is shown */
				.dropdown:hover .dropbtn {
					background-color: #3e8e41;
				}
			}
		}
		.mobile-links {
			// Positioning it top right
			position: fixed;
			top: 0px;
			left: 0px;
			// Spacing
			padding: 0px;
			padding-top: 60px; // Height of header
			margin: 0;
			width: 100%;
			height: 100%;
			// Centering
			display: flex;
			flex-direction: column;
			align-items: center;
			//Styling
			background-color: lightpink;
			list-style: none;
			li {
				padding-bottom: 20px;
			}
			a {
				text-decoration: none;
				color: white;
				font-size: large;
			}
		}
	}
}
