body {
  margin: 0px;
  font-family: "Baskervville", serif;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #30307e;
}

body h1 {
  font-size: 4em;
  margin: 0px;
}

body h2 {
  margin-top: 20px;
  font-size: 2em;
}

body h3 {
  font-size: 1.2em;
}

body a {
  color: #f280a8;
}

body a:hover {
  color: #d03757;
}

body a:visited {
  color: #75315e;
}

@media screen and (max-width: 700px) {
  .bigSonly {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .smallSonly {
    display: none;
  }
}

.loader-wrapper {
  opacity: 1;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 2;
}

.loader-wrapper #loading-video {
  width: 100px;
  height: 100px;
  padding-right: 30px;
  margin-top: -65px;
  margin-left: -65px;
  position: fixed;
  top: 50%;
  left: 50%;
}

@media screen and (min-width: 700px) {
  .loader-wrapper #loading-video {
    width: 300px;
    height: 300px;
    padding-right: 90px;
    margin-top: -195px;
    margin-left: -195px;
  }
}

.fade {
  opacity: 0;
}

.top-left-exit {
  position: fixed !important;
  top: 10px !important;
  left: 4px !important;
  height: 50px !important;
  width: auto !important;
  margin: 0px !important;
  -webkit-transition: all 1s !important;
  transition: all 1s !important;
}

.into-middle {
  background-position-x: -50vw !important;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.nav-placeholder {
  height: 70px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  position: fixed;
  top: 0px;
  width: 100%;
  background: white;
  font-size: 1em;
}

header .logo-cont {
  margin-left: 15px;
  margin-top: 5px;
}

header .logo-cont .logo {
  height: 50px;
}

header .menu-toggle {
  height: 32px;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  width: 40px;
  z-index: 1;
  margin-right: 20px;
}

@media screen and (min-width: 902px) {
  header .menu-toggle {
    display: none;
  }
}

header .menu-toggle i,
header .menu-toggle i:after,
header .menu-toggle i:before {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: peru;
  border-radius: 2px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  content: "";
}

header .menu-toggle i:after {
  top: -29px;
}

header .menu-toggle i:before {
  top: -14.5px;
}

header .menu-toggle i {
  top: 29px;
}

header .menu-toggle.open i {
  height: 0px;
}

header .menu-toggle.open i:after,
header .menu-toggle.open i:before {
  top: -22px;
}

header .menu-toggle.open i:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .menu-toggle.open i:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .links-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

@media screen and (max-width: 902px) {
  header .links-cont .nav {
    display: none;
  }
}

@media screen and (min-width: 902px) {
  header .links-cont .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    margin: 0px;
    margin-right: 15px;
    padding: 10px 0px;
    /* Show the dropdown menu on hover */
  }
}

@media screen and (min-width: 902px) and (min-width: 1000px) {
  header .links-cont .nav {
    font-size: larger;
  }
}

@media screen and (min-width: 902px) {
  header .links-cont .nav .dropdown {
    position: relative;
  }
  header .links-cont .nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 10px;
  }
  header .links-cont .nav .active-link {
    color: palevioletred;
  }
  header .links-cont .nav .sug-link {
    background: pink;
    color: blue;
    border-radius: 2px;
  }
  header .links-cont .nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
    border-radius: 10px;
    left: -20px;
    padding: 15px;
  }
  header .links-cont .nav .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #757394;
    border-radius: 5px;
  }
  header .links-cont .nav .dropdown-content a:hover {
    color: #d03757;
    background-color: #f3c6e6;
  }
  header .links-cont .nav #people-dropdown {
    left: -100px;
  }
  header .links-cont .nav .dropdown:hover .dropdown-content {
    display: block;
  }
}

header .links-cont .mobile-links {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0px;
  padding-top: 60px;
  margin: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightpink;
  list-style: none;
}

header .links-cont .mobile-links li {
  padding-bottom: 20px;
}

header .links-cont .mobile-links a {
  text-decoration: none;
  color: white;
  font-size: large;
}

.intro-content {
  width: 100%;
  height: auto;
  background-size: 2500px 2500px;
  background-image: url(assets/wave1-compressed.png), url(assets/wave2.png);
  background-repeat: no-repeat;
  background-position-x: -10vw, -90vw;
  background-position-y: -780px;
  -webkit-animation: gradient 15s infinite;
          animation: gradient 15s infinite;
}

.intro-content h1 {
  color: white !important;
}

@media screen and (max-width: 740px) {
  .intro-content {
    background-size: 2000px 2500px !important;
    background-position-y: -900px, -800px;
  }
}

@media screen and (min-width: 1000px) {
  .intro-content {
    background-size: auto;
    background-position-y: -1250px, -1200px;
  }
}

.intro-content .intro-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22vh 15vw;
  font-size: 1em;
  color: white;
}

.intro-content .intro-text h1 {
  text-align: center;
}

.intro-content .intro-text p {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.intro-content .intro-text sup a {
  color: white;
}

@media screen and (max-width: 740px) {
  .intro-content .intro-text {
    padding: 15vh 20px;
  }
  .intro-content .intro-text h1 {
    font-size: 3em;
  }
}

@media screen and (min-width: 1000px) {
  .intro-content .intro-text {
    font-size: 1.3em;
  }
}

.main-content-cont {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  margin-top: -20vh;
  border-radius: 15px;
  padding: 4vw;
}

@media screen and (min-width: 900px) {
  .main-content-cont {
    width: 80%;
  }
}

@media screen and (min-width: 1000px) {
  .main-content-cont {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 750px) {
  .main-content-cont {
    margin-top: -15vh;
  }
}

.main-content-cont img {
  max-width: 100%;
  padding-bottom: 20px;
}

.main-content-cont figure {
  margin: 0px;
}

.main-content-cont figure blockquote {
  margin: 0px;
  padding: 20px 0px;
  font-weight: bold;
}

.main-content-cont figure .quote-highlight {
  background-color: #f3c6e6;
  color: #30307e;
}

.main-content-cont figure figcaption {
  color: #0c1f4a;
}

.main-content-cont figure .name-caption {
  color: #d03757;
}

.footnotes {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .footnotes {
    width: 80%;
  }
}

@media screen and (min-width: 1000px) {
  .footnotes {
    font-size: 1.3em;
  }
}

.footnotes li {
  line-height: 1.5em;
}

.no-waves-content-cont {
  width: 90%;
  margin: 0 auto;
  background-color: white;
  border-radius: 15px;
  padding: 2vh 2vw;
}

@media screen and (min-width: 1200px) {
  .no-waves-content-cont {
    width: 80%;
  }
}

@media screen and (min-width: 1000px) {
  .no-waves-content-cont {
    font-size: 1.3em;
  }
}

.hardware-main-cont,
.hardware-cont {
  padding-bottom: 50px;
}

.hardware-main-cont .intro-text,
.hardware-cont .intro-text {
  padding-bottom: 30px !important;
}

.hardware-main-cont #main-luminometer-photo,
.hardware-cont #main-luminometer-photo {
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 250px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}

.hardware-main-cont #main-luminometer-photo figure,
.hardware-cont #main-luminometer-photo figure {
  margin: 0;
}

.hardware-main-cont #main-luminometer-photo #main-luminometer-caption,
.hardware-cont #main-luminometer-photo #main-luminometer-caption {
  padding-top: 20px;
  text-align: center;
  color: #0c1f4a;
}

.hardware-main-cont #luminometer,
.hardware-cont #luminometer {
  background-color: white;
  width: 70vw;
  max-width: 500px;
  margin: 0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(208, 55, 87, 0.1);
          box-shadow: 0px 0px 10px 10px rgba(208, 55, 87, 0.1);
  overflow: hidden;
}

.hardware-main-cont #luminometer img,
.hardware-cont #luminometer img {
  margin: -30% auto;
  width: 100%;
  border-radius: 10px;
}

.diagram-with-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
}

.diagram-with-p img {
  margin-right: 20px;
  -webkit-box-shadow: 0px 0px 10px 10px rgba(208, 55, 87, 0.1);
          box-shadow: 0px 0px 10px 10px rgba(208, 55, 87, 0.1);
  border-radius: 5px;
}

#img-under {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#img-under figcaption {
  padding-bottom: 20px;
}

.hardware-figure {
  margin: 20px 0px !important;
}

table {
  width: 100%;
  border-spacing: 0px;
  text-align: center;
}

table table,
table th,
table td {
  border: 1px solid #9f9eba;
  padding: 0px;
}

table th,
table td {
  width: 33%;
}

table th {
  font-weight: bold;
}

.bottom-links {
  width: 100%;
}

.bottom-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0px;
  margin: 0px;
}

.bottom-links ul li {
  background-color: white;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(208, 55, 87, 0.1);
          box-shadow: 0px 0px 3px 2px rgba(208, 55, 87, 0.1);
  border-radius: 15px;
  width: 250px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.bottom-links ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.bottom-links ul li a .nav-link-photo {
  width: 200px !important;
  height: 150px !important;
}

.bottom-links ul li img {
  width: 200px;
  border-radius: 10px;
  padding: 20px;
}

.bottom-links ul li h3 {
  margin: 0px;
  padding: 10px;
}

.massive-diagram {
  width: 100%;
  max-width: 800px;
  margin: auto;
  display: block;
}

@-webkit-keyframes gradient {
  0% {
    background-position-x: 0vw, -100vw;
  }
  100% {
    background-position-x: -100vw, 0vw;
  }
}

@keyframes gradient {
  0% {
    background-position-x: 0vw, -100vw;
  }
  100% {
    background-position-x: -100vw, 0vw;
  }
}
/*# sourceMappingURL=style.css.map */