// Colour scheme 111 for text when on hover and 121 for around
// Actual text is 124
// Current page is 121 for highlight and 211 for main text
$C111: rgb(208, 55, 87);
$C112: rgb(167, 47, 95);
$C113: rgb(117, 49, 94);
$C114: rgb(70, 46, 89);
$C121: rgb(243, 198, 230);
$C122: rgb(242, 128, 168);
$C123: rgb(234, 215, 233);
$C124: rgb(197, 194, 225);

$C211: rgb(48, 48, 126);
$C212: rgb(84, 145, 184);
$C213: rgb(12, 31, 74);
$C214: rgb(13, 28, 55);
$C221: rgb(28, 27, 50);
$C222: rgb(77, 76, 105);
$C223: rgb(117, 115, 148);
$C224: rgb(159, 158, 186);

body {
	margin: 0px;
	font-family: "Baskervville", serif;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $C211;
	}

	// Headings
	h1 {
		font-size: 4em;
		margin: 0px;
	}
	h2 {
		margin-top: 20px;
		font-size: 2em;
	}
	h3 {
		font-size: 1.2em;
	}
	a {
		color: $C122;
	}
	a:hover {
		color: $C111;
	}
	a:visited {
		color: $C113;
	}
}
.bigSonly {
	@media screen and (max-width: 700px) {
		display: none;
	}
}
.smallSonly {
	@media screen and (min-width: 700px) {
		display: none;
	}
}
// By default we have the hamburger menu
// With scss we can be very specific, based on only the class of the container we can change the underlying css
.loader-wrapper {
	opacity: 1;
	transition: opacity 3s;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 2;
	// display: flex;
	// justify-content: center;
	// align-items: center;
	#loading-video {
		// Set the width, height, padding and margin based on screen size.
		width: 100px;
		height: 100px;
		padding-right: 30px;
		// Margin is negative half of height
		margin-top: -65px;
		margin-left: -65px;

		@media screen and (min-width: 700px) {
			width: 300px;
			height: 300px;
			padding-right: 90px;
			margin-top: -195px;
			margin-left: -195px;
		}
		position: fixed;
		top: 50%;
		left: 50%;
		// Can't have padding transition smoothly
		// transition-property: top, left, height, width, transform, position;
		// transition-duration: 10s, 10s, 10s, 10s, 10s, 10s;
	}
}
// ANIMATIONS
.fade {
	opacity: 0;
}
.top-left-exit {
	position: fixed !important;
	top: 10px !important;
	left: 4px !important;
	height: 50px !important;
	width: auto !important;
	margin: 0px !important;
	transition: all 1s !important;
	// transform: rotate(360deg);
}
.into-middle {
	background-position-x: -50vw !important;
	transition: all 2s ease-out;
}
.nav-placeholder {
	height: 70px;
}
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	position: fixed;
	top: 0px;
	width: 100%;
	background: white;
	font-size: 1em;

	.logo-cont {
		margin-left: 15px;
		margin-top: 5px;
		.logo {
			// aspect-ratio: 800/167;
			height: 50px;
		}
	}
	// iphone menu
	.menu-toggle {
		@media screen and (min-width: 902px) {
			display: none;
		}

		height: 32px;
		position: relative;
		transform: rotate(0deg);
		transition: 0.5s ease-in-out;
		cursor: pointer;
		width: 40px;
		// To be above the menu
		z-index: 1;
		margin-right: 20px;

		i,
		i:after,
		i:before {
			display: block;
			// Keep the bars inside the main block and positioned absolutely compared to the .menu-toggle - removed from flow of page
			position: absolute;
			height: 3px;
			width: 100%;
			background: peru;
			border-radius: 2px;
			transform: rotate(0deg);
			transition: 0.25s ease-in-out;
			content: "";
		}

		i:after {
			top: -29px;
		}
		i:before {
			top: -14.5px;
		}
		i {
			top: 29px;
		}
	}
	.menu-toggle.open {
		i {
			// Don't want the X underlined
			height: 0px;
		}
		i:after,
		i:before {
			// Move them to the middle
			top: -22px;
		}
		i:after {
			transform: rotate(45deg);
		}
		i:before {
			transform: rotate(-45deg);
		}
	}

	.links-cont {
		display: flex;
		flex-direction: row;
		// align-items: center;
		padding-inline-start: 0px;

		.nav {
			// By default not showed on a small screen have mobile menu
			@media screen and (max-width: 902px) {
				display: none;
			}
			@media screen and (min-width: 902px) {
				// Dimensions of the nav links
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				list-style: none;
				margin: 0px;
				margin-right: 15px;
				padding: 10px 0px;

				@media screen and (min-width: 1000px) {
					font-size: larger;
				}

				//Link styling
				.dropdown {
					position: relative;
				}
				a {
					text-decoration: none;
					font-weight: bold;
					color: black;
					padding: 10px;
				}
				.active-link {
					color: palevioletred;
				}
				.sug-link {
					background: pink;
					color: blue;
					border-radius: 2px;
				}

				//Dropdown styling
				.dropdown-content {
					display: none;
					position: absolute;
					background-color: white;
					min-width: 160px;
					box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
					z-index: 1;
					list-style: none;
					padding-inline-start: 0px;
					border-radius: 10px;
					left: -20px;
					padding: 15px;
					a {
						padding: 12px 16px;
						text-decoration: none;
						display: block;
						color: $C223;
						border-radius: 5px;
					}
					a:hover {
						color: $C111;
						background-color: $C121;
					}
				}
				// Deal with the people one which is off the page
				#people-dropdown {
					left: -100px;
				}

				/* Show the dropdown menu on hover */
				.dropdown:hover .dropdown-content {
					display: block;
				}
			}
		}
		.mobile-links {
			// Positioning it top right
			position: fixed;
			top: 0px;
			left: 0px;
			// Spacing
			padding: 0px;
			padding-top: 60px; // Height of header
			margin: 0;
			width: 100%;
			height: 100%;
			// Centering
			display: flex;
			flex-direction: column;
			align-items: center;
			//Styling
			background-color: lightpink;
			list-style: none;
			li {
				padding-bottom: 20px;
			}
			a {
				text-decoration: none;
				color: white;
				font-size: large;
			}
		}
	}
}

.intro-content {
	h1 {
		color: white !important;
	}
	width: 100%;
	height: auto;
	// The backround size needs to be static, it can change but then the background position also has to change.
	background-size: 2500px 2500px;
	background-image: url(assets/wave1-compressed.png), url(assets/wave2.png);
	background-repeat: no-repeat;
	// Under 750 width and need more crests so decrease the width
	@media screen and (max-width: 740px) {
		background-size: 2000px 2500px !important;
		background-position-y: -900px, -800px;
	}
	// Above 2000px doesn't fully cover
	@media screen and (min-width: 1000px) {
		background-size: auto;
		background-position-y: -1250px, -1200px;
	}
	// Default position is off the page, one on each side
	background-position-x: -10vw, -90vw;
	background-position-y: -780px;

	// animation: gradient 2s ease;
	animation: gradient 15s infinite;

	.intro-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 22vh 15vw;
		font-size: 1em;
		color: white;
		h1 {
			text-align: center;
		}
		p {
			align-self: flex-start;
		}
		sup {
			a {
				color: white;
			}
		}
		// Under 750 width and need more crests so decrease the width
		@media screen and (max-width: 740px) {
			padding: 15vh 20px;
			h1 {
				font-size: 3em;
			}
		}
		// Above 2000px doesn't fully cover
		@media screen and (min-width: 1000px) {
			font-size: 1.3em;
		}
	}
}
.main-content-cont {
	// Headings
	width: 90%;
	@media screen and (min-width: 900px) {
		width: 80%;
	}
	margin: 0 auto;
	background-color: white;
	margin-top: -20vh;
	border-radius: 15px;
	padding: 4vw;
	@media screen and (min-width: 1000px) {
		font-size: 1.3em;
	}

	@media screen and (max-width: 750px) {
		margin-top: -15vh;
	}
	// Above 2000px doesn't fully cover

	img {
		max-width: 100%;
		padding-bottom: 20px;
	}
	figure {
		margin: 0px;
		blockquote {
			margin: 0px;
			padding: 20px 0px;
			font-weight: bold;
		}
		.quote-highlight {
			background-color: $C121;

			color: $C211;
		}
		figcaption {
			color: $C213;
		}
		.name-caption {
			color: $C111;
		}
	}
}
.footnotes {
	width: 90%;
	@media screen and (min-width: 1200px) {
		width: 80%;
	}
	@media screen and (min-width: 1000px) {
		font-size: 1.3em;
	}
	margin: 0 auto;
	li {
		line-height: 1.5em;
	}
}

// SOFTWARE STYLINGS
.no-waves-content-cont {
	// Headings
	width: 90%;
	@media screen and (min-width: 1200px) {
		width: 80%;
	}
	margin: 0 auto;
	background-color: white;
	border-radius: 15px;
	padding: 2vh 2vw;
	@media screen and (min-width: 1000px) {
		font-size: 1.3em;
	}
}
// HARDWARE STYLINGS
.hardware-main-cont,
.hardware-cont {
	padding-bottom: 50px;
	.intro-text {
		padding-bottom: 30px !important;
	}
	#main-luminometer-photo {
		background-color: white;
		width: fit-content;
		min-width: 250px;
		margin: auto;
		margin-bottom: 20px;

		border-radius: 10px;
		overflow: hidden;
		padding: 20px;
		figure {
			margin: 0;
		}
		#main-luminometer-caption {
			padding-top: 20px;
			text-align: center;
			color: $C213;
		}
	}
	#luminometer {
		background-color: white;
		width: 70vw;
		max-width: 500px;
		margin: 0;
		border-radius: 10px;
		box-shadow: 0px 0px 10px 10px rgba(208, 55, 87, 0.1);
		overflow: hidden;

		img {
			margin: -30% auto;
			width: 100%;
			border-radius: 10px;
		}
	}
}
.luminometer-cont {
	#TSL-cont {
		width: 800px;
		overflow: hidden;
		margin: 0px;
		img {
			display: block;
			width: 100%;
			margin: -25% 0;
		}
	}
	.graph-cont {
		width: 600px;
		overflow: hidden;
		margin: 0px;
		img {
			display: block;
			width: 100%;
		}
	}
	.titled-img {
		margin: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		figcaption {
			width: 600px;
			text-align: center;
		}
	}
}

// MODEL STYLINGS
.model-cont {
	.intro-content {
		a {
			color: white;
		}
		h5,
		h2,
		h3 {
			color: white;
		}
	}
	.blue-heading {
		color: $C211 !important;
	}
	ol {
		align-self: flex-start;
	}
	.lettered-list {
		list-style-type: lower-latin;
	}
	.dashed-list {
		list-style-type: circle;
	}
	table {
		.padded {
			padding: 10px;
		}
		.not-bold {
			font-weight: normal;
		}
	}
	.mathjax-li {
		width: fit-content;
		padding-inline-start: 20px;
	}
	.centered {
		text-align: center;
	}
	.diagram-with-p img {
		margin-right: 0px;
		margin-bottom: 25px;
	}
	.main-content-cont {
		box-shadow: 0px 12px 30px -35px $C211;
		padding-bottom: 10px;
		margin-bottom: 30px;
	}
}
// Different types of diagram and premade CSS
.diagram-with-p {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0px;
	img {
		margin-right: 20px;
		box-shadow: 0px 0px 10px 10px rgba(208, 55, 87, 0.1);
		border-radius: 5px;
	}
}
figcaption {
	color: $C213;
}
#img-under {
	flex-direction: column;
	figcaption {
		padding-bottom: 20px;
	}
}
.hardware-figure {
	margin: 20px 0px !important;
}
// TABLE css
table {
	width: 100%;
	border-spacing: 0px;
	text-align: center;

	table,
	th,
	td {
		border: 1px solid $C224;
		padding: 0px;
	}
	th,
	td {
		width: 33%;
	}
	th {
		font-weight: bold;
	}
}
// NAV CSS
.bottom-links {
	width: 100%;
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style: none;
		justify-content: start;

		padding: 0px;
		margin: 0px;
		li {
			background-color: white;
			box-shadow: 0px 0px 3px 2px rgba(208, 55, 87, 0.1);
			border-radius: 15px;
			width: 250px;
			height: 200px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-top: 30px;
			a {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-decoration: none;
				.nav-link-photo {
					width: 200px !important;
					height: 150px !important;
				}
			}
			margin-right: 20px;
			margin-bottom: 20px;
			img {
				width: 200px;
				border-radius: 10px;
				padding: 20px;
			}
			h3 {
				margin: 0px;
				padding: 10px;
			}
		}
	}
}
// Massive diagrams
.massive-diagram {
	width: 100%;
	max-width: 800px;
	margin: auto;
	display: block;
}
@keyframes gradient {
	0% {
		background-position-x: 0vw, -100vw;
	}
	// 50% {
	// 	background-position-x: 50%;
	// }
	100% {
		background-position-x: -100vw, 0vw;
	}
}
